#card {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: hsl(40, 100%, 60%);
  border-radius: 20px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.335)); /* x, y, blur, color */
}